html {
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 22px;
  line-height: 0;
}

.stars {
  display: flex;
  width: 96px;
  height: calc(116px / 6);
}

.stars__star {
  width: calc(96px / 5);
  height: 100%;
  background-image: url('./images/star.svg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: 16px;
}

.stars--1 .stars__star:nth-child(-n + 1),
.stars--2 .stars__star:nth-child(-n + 2),
.stars--3 .stars__star:nth-child(-n + 3),
.stars--4 .stars__star:nth-child(-n + 4),
.stars--5 .stars__star:nth-child(-n + 5) {
  background-image: url('./images/star-active.svg');
}
